mixin we_works
    section.we-works
        .container
            h2.we-works__title Как мы работаем?
        .we-works__container
            .we-works__item
                img(src="./img/deginers/weWork1.png", alt="Works").we-works__item-img.we-works__item-img_first
                .we-works__content.we-works__content_first
                    h4.we-works__content-title.we-works__content-title_first Создание проекта
                    p.we-works__content-text.we-works__content-title_first Онлайн-заявка или визит в салон
                <svg class="we-works__figure we-works__figure_first" width="244" height="366" viewBox="0 0 244 366" fill="none">
                    <path d="M97.4 77.0466C97.4 57.5043 94.9348 43.3204 90.0044 34.4948C85.7783 25.6692 77.3261 19.6805 64.6478 16.5285C51.9696 13.3765 31.5435 11.8005 3.36957 11.8005C1.25652 11.8005 0.200005 9.90933 0.200005 6.12693C0.200005 2.34456 1.25652 0.453369 3.36957 0.453369C23.7957 0.453369 39.9957 0.768557 51.9696 1.39895L121.7 2.34457L190.374 1.39895C202.348 0.768557 218.9 0.453369 240.03 0.453369C242.143 0.453369 243.2 2.34456 243.2 6.12693C243.2 9.90933 242.143 11.8005 240.03 11.8005C213.265 11.8005 193.191 13.6917 179.809 17.4741C167.13 20.6261 158.326 26.6148 153.396 35.4404C148.465 44.2659 146 58.1347 146 77.0466V288.86C146 308.402 148.113 322.586 152.339 331.412C157.27 340.237 166.074 346.226 178.752 349.378C191.43 352.53 211.857 354.106 240.03 354.106C242.143 354.106 243.2 355.997 243.2 359.78C243.2 363.562 242.143 365.453 240.03 365.453C219.604 365.453 203.404 365.138 191.43 364.508L121.7 363.562L53.0261 364.508C41.0522 365.138 24.5 365.453 3.36957 365.453C1.25652 365.453 0.200005 363.562 0.200005 359.78C0.200005 355.997 1.25652 354.106 3.36957 354.106C30.1348 354.106 49.8565 352.53 62.5348 349.378C75.9174 345.596 85.0739 339.292 90.0044 330.466C94.9348 321.641 97.4 307.772 97.4 288.86V182.953V77.0466Z" fill="white" fill-opacity="0.6"/>
                </svg>
            .we-works__item
                img(src="./img/deginers/weWork1.png", alt="Works").we-works__item-img
                .we-works__content
                    h4.we-works__content-title ЗАмер помещения
                    p.we-works__content-text Дистанционные замер или выезд замерщика
                <svg class="we-works__figure" width="262" height="343" viewBox="0 0 262 343" fill="#FF3D00">
                    <path d="M-46.6855 354.317C7.91878 313.366 50.2524 278.943 80.3154 251.049C110.992 223.154 133.079 197.931 146.577 175.378C160.688 152.825 167.744 130.569 167.744 108.61C167.744 83.6829 159.768 64.0976 143.816 49.8537C127.864 35.0163 107.618 27.5975 83.0763 27.5975C58.5351 27.5975 37.0615 36.7968 18.6556 55.1951C0.249638 73 -13.8616 99.7073 -23.6781 135.317C-23.6781 135.911 -24.9051 136.207 -27.3592 136.207C-32.881 136.207 -35.3352 135.02 -34.7216 132.646L0.249645 1.78045C0.249645 0.593459 1.47671 0 3.93083 0C5.77142 0 7.30525 0.593459 8.53231 1.78045C10.3729 2.37396 10.9864 2.96746 10.3729 3.56095C9.75937 5.93494 9.4526 8.90244 9.4526 12.4634C9.4526 21.9593 14.0541 26.7073 23.2571 26.7073C28.7788 26.7073 37.9818 24.6301 50.8659 20.4756C60.0689 18.1016 70.4989 15.7276 82.156 13.3536C93.8131 10.9796 105.163 9.79268 116.207 9.79268C146.884 9.79268 171.118 18.1016 188.91 34.7195C207.316 50.7439 216.519 72.1098 216.519 98.8171C216.519 118.996 210.077 139.175 197.193 159.354C184.922 179.533 164.676 202.382 136.454 227.902C108.231 253.423 68.9651 284.878 18.6556 322.268C16.2014 324.049 15.2811 325.533 15.8947 326.719C17.1217 327.906 19.2691 328.5 22.3368 328.5C94.1199 328.5 143.202 327.61 169.584 325.829C196.58 323.455 215.599 318.411 226.643 310.695C237.686 302.386 245.662 287.845 250.57 267.073C251.184 265.886 253.024 265.589 256.092 266.183C259.773 266.183 261.614 266.776 261.614 267.963L248.73 355.207C248.73 357.581 247.809 359.955 245.969 362.329C244.742 364.11 242.901 365 240.447 365H-40.2434C-42.6975 365 -44.8449 363.813 -46.6855 361.439C-48.5261 359.065 -48.5261 356.691 -46.6855 354.317Z"  fill-opacity="0.2"/>
                </svg>

            .we-works__item
                .we-works__content
                    h4.we-works__content-title Заключение договора
                    p.we-works__content-text Онлайн-оплата или визит в салон
                <svg class="we-works__figure" width="219" height="333" viewBox="0 0 219 333" fill="none" >
                    <path d="M124.657 172.096C154.969 174.152 178.052 183.404 193.907 199.853C210.228 215.891 218.389 235.012 218.389 257.218C218.389 277.779 210.927 298.546 196.005 319.518C181.549 340.902 159.399 360.64 129.554 378.734C99.7091 397.239 62.8695 411.631 19.035 421.912C17.1697 422.323 15.5376 421.295 14.1386 418.828C13.206 416.772 13.6723 415.538 15.5376 415.127C72.4292 400.734 113.233 379.351 137.948 350.976C162.663 322.602 175.021 293.611 175.021 264.003C175.021 242.209 168.725 223.704 156.134 208.489C143.544 192.862 123.492 185.049 95.9785 185.049C82.9215 185.049 71.0302 186.283 60.3047 188.75C58.9058 189.161 57.7399 188.133 56.8073 185.666C55.8746 183.199 56.341 181.759 58.2063 181.348C95.5122 173.124 121.626 161.61 136.549 146.806C151.937 132.002 159.632 112.057 159.632 86.9731C159.632 66.0008 154.269 49.3464 143.544 37.0098C132.818 24.6732 116.264 18.5049 93.8801 18.5049C73.3618 18.5049 56.1078 24.4676 42.1181 36.393C28.1284 48.3184 17.1697 67.2345 9.24222 93.1414C8.7759 93.5526 7.84325 93.7582 6.44428 93.7582C2.24736 93.7582 0.382062 92.9358 0.848387 91.2909L26.7294 1.23367C27.662 0.411227 28.5947 0 29.5273 0C30.9263 0 32.3253 0.411227 33.7242 1.23367C35.1232 1.64488 35.5895 2.05609 35.1232 2.46731C34.1906 5.75707 33.7242 8.01881 33.7242 9.25247C33.7242 16.2432 37.688 19.7386 45.6155 19.7386C50.7451 19.7386 57.7399 18.0937 66.6001 14.8039C76.3929 11.9254 85.0199 9.86928 92.4811 8.63562C99.9423 6.99073 108.103 6.16831 116.963 6.16831C142.145 6.16831 161.963 13.1591 176.419 27.1406C190.876 40.7108 198.104 57.1596 198.104 76.487C198.104 96.2255 191.575 114.936 178.518 132.618C165.461 150.301 147.507 163.46 124.657 172.096Z" fill="#FF3D00" fill-opacity="0.2"/>
                </svg>

            .we-works__item
                .we-works__content
                    h4.we-works__content-title Доставка мебели
                    p.we-works__content-text Сборка и установка происходит безопасно
                <svg class="we-works__figure" width="302" height="350" viewBox="0 0 302 350" fill="none" >
                    <path d="M297.49 258.401C298.525 258.401 299.302 260.1 299.82 263.497C300.855 266.408 301.373 269.805 301.373 273.687C301.373 277.569 300.855 281.209 299.82 284.605C299.302 287.517 298.525 288.973 297.49 288.973C280.403 288.002 257.362 287.032 228.367 286.061V404.707C228.367 410.045 226.295 413.442 222.153 414.898L197.3 426.544C194.193 427.515 192.64 428 192.64 428C191.087 428 190.31 426.059 190.31 422.177V285.333C157.69 284.363 94.0033 283.878 -0.749983 283.878C-3.33887 283.878 -5.40998 282.907 -6.96331 280.966C-8.51665 279.025 -8.25776 277.084 -6.18665 275.143L216.717 1.45579C217.752 0.485269 219.305 0 221.377 0C222.93 0 224.483 0.485269 226.037 1.45579C227.59 1.94106 228.367 2.91156 228.367 4.36734V259.857C241.311 259.857 264.352 259.372 297.49 258.401ZM34.9767 262.769C81.5766 262.769 133.354 262.283 190.31 261.313V62.5987L31.0933 257.673C29.54 259.129 29.0222 260.342 29.54 261.313C30.5756 262.283 32.3878 262.769 34.9767 262.769Z" fill="#FF3D00" fill-opacity="0.2"/>
                </svg>
