.designers{
    position: relative;
    width: 100%;
    max-width: 1920px;

    padding: 0 0 150px 50px;
    background: #F9F9F9;

    &__title{
        position: sticky;
        z-index: 300;

        font-family: "Cormorant Garamond";
        font-weight: 300;
        font-size: 250px;
        line-height: 107.8%;
        letter-spacing: -0.025em;
        color: #FF3D00;
        margin: 0 0 170px;
    }
    &__text{
        

        font-family: "Open Sans";
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;

        letter-spacing: 0.035em;

        color: #666666;

        width: 100%;
        max-width: 425px;
        
        margin: 0 0 121px 115px;
    }
    &__link{
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 120.3%;

        text-align: center;
        letter-spacing: 0.105em;
        text-transform: uppercase;

        color: #FFFFFF;
        background: #232323;
        padding: 21px 49px;
        margin: 0 0 0 112px;
        transition: all .2s linear;
        &:hover{
            background: #373737;
        }
    }
    &__img1{
        position: absolute;
        top: 31%;
        right: 16%;
        z-index: 200;
        width: 651px;
        height: 465px;
    }
    &__img2{
        position: absolute;
        top: 2%;
        right: -2%;
        z-index: 100;
        width: 592px;
        height: 545px;
    }
}
@import './we_works/we_work';
@import './client_reviews/client_reviews'