mixin articles
    section.articles
        .container
            a(href="/").articles__link 
                h2.articles__title Как выбрать мойку  из искусственного камня
                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" >
                    <path d="M1 20L20 1M20 1V9.70833M20 1H12.0833" stroke="white" stroke-width="2"/>
                </svg>
            h2.articles__title_cont и другие полезные статьи
            .articles__slider
                .articles__container
                    .articles__item.articles__item_first
                        span.articles__item-stic.articles__item-stic_first КУХНИ 
                        span.articles__item-date 10 марта 2020
                        p.articles__item-text.articles__item-text_fisrt Хочу всё и сразу — как купить кухню в рассрочку и не переплатить ни копейки
                    .articles__item.articles__item_seco
                        span.articles__item-stic сезон
                        span.articles__item-date 10 марта 2020
                        p.articles__item-text Последний день зимы в Казани
                        <svg width="87" height="87" viewBox="0 0 87 87" fill="none">
                            <circle cx="43.5" cy="43.5" r="43.5" fill="white" fill-opacity="0.5"/>
                            <circle cx="43.5" cy="43.5" r="43" stroke="white" stroke-opacity="0.41"/>
                            <path d="M54.2752 43.4999L39.1101 31.9265V55.0733L54.2752 43.4999Z" stroke="white"/>
                        </svg>
                    .articles__item.articles__item_third
                        span.articles__item-stic сезон
                        span.articles__item-date 10 марта 2020
                        p.articles__item-text Последний день зимы в Казани
                        <svg width="87" height="87" viewBox="0 0 87 87" fill="none">
                            <circle cx="43.5" cy="43.5" r="43.5" fill="white" fill-opacity="0.5"/>
                            <circle cx="43.5" cy="43.5" r="43" stroke="white" stroke-opacity="0.41"/>
                            <path d="M54.2752 43.4999L39.1101 31.9265V55.0733L54.2752 43.4999Z" stroke="white"/>
                        </svg>
                    .articles__item.articles__item_four
                        span.articles__item-stic ЭКОНОМИЯ
                        span.articles__item-date 10 марта 2020
                        p.articles__item-text Матированные стекла Colorimo
                    .articles__item.articles__item_five
                        span.articles__item-stic ЭКОНОМИЯ 
                        span.articles__item-date 10 марта 2020
                        p.articles__item-text Матированные стекла Colorimo
                    .articles__item.articles__item_six
                        span.articles__item-stic сезон
                        span.articles__item-date 10 марта 2020
                        p.articles__item-text КухниСити - обладатель награды за вклад в продажи техники для кухни Miele серии Generation 7000!
                    .articles__item.articles__item_seven
                        span.articles__item-stic сезон
                        span.articles__item-date 10 марта 2020
                        p.articles__item-text КухниСити - обладатель награды за вклад в продажи техники для кухни Miele серии Generation 7000!
                .articles__slider-bottons
                    <svg class="reviews__slider-bottons-arrows" width="17" height="27" viewBox="0 0 17 27" fill="none">
                        <path d="M15.25 1.75L3 13.5625L15.25 25.375" stroke="#FF3D00" stroke-width="3"/>
                    </svg>
                    <svg class="reviews__slider-bottons-arrows" width="71" height="70" viewBox="0 0 71 70" fill="none" >
                        <circle cx="35.375" cy="35" r="35" fill="#FF3D00"/>
                        <path d="M29.25 47.25L41.5 35.4375L29.25 23.625" stroke="white" stroke-width="3"/>
                    </svg>
            a(href="/").articles__bottom-link Посмотреть все