mixin products
    .products
        .products__item
            .products__card
                span.products__card-sale Sale
                img(src="./img/kitchens/kit1.png", alt="Kitchens").products__card-img
                a(href="/").products__card-link
                    

                    .products__card-calc
                        <svg width="22" height="23" viewBox="0 0 22 23" fill="none">
                            <circle cx="11" cy="4" r="3.5" stroke="#292929"/>
                            <circle cx="11" cy="19" r="3.5" stroke="#292929"/>
                            <path d="M0 12H22" stroke="#292929"/>
                        </svg>
                        <svg width="163" height="39" viewBox="0 0 163 39" fill="none" class="products__card-popUp ">
                            <rect width="163" height="31" fill="white"/>
                            <path d="M19.056 20H20.1V17.636L21.336 16.184L24.108 20H25.416L22.032 15.368L25.332 11.48H23.988L20.124 16.148H20.1V11.48H19.056V20ZM29.1045 20.072C30.0525 20.072 30.7725 19.64 31.1925 18.944H31.2045V20H32.1405V14.156H31.1685V15.188L31.1445 15.2C30.7245 14.492 29.9685 14.084 29.1045 14.084C27.4485 14.084 26.2605 15.392 26.2605 17.12C26.2605 18.896 27.4965 20.072 29.1045 20.072ZM29.2485 19.184C28.0485 19.184 27.2445 18.296 27.2445 17.12C27.2445 15.824 28.1445 14.972 29.2485 14.972C30.4005 14.972 31.2045 15.92 31.2045 17.12C31.2045 18.356 30.3285 19.184 29.2485 19.184ZM35.2547 14.156C35.2307 15.152 35.1947 16.484 35.0987 17.396C34.9667 18.548 34.5827 19.148 33.9827 19.148C33.8627 19.148 33.7787 19.136 33.7067 19.124L33.6347 19.964C33.7547 20.012 33.9467 20.048 34.1507 20.048C35.1947 20.048 35.7947 19.304 36.0107 17.708C36.1067 16.94 36.1547 15.98 36.2027 15.02H38.2667V20H39.2387V14.156H35.2547ZM41.4884 20H43.7924C45.4604 20 46.1204 19.22 46.1204 18.056C46.1204 16.88 45.5084 16.112 43.8764 16.112H42.4604V14.156H41.4884V20ZM42.4604 19.16V16.928H43.8404C44.7044 16.928 45.1244 17.312 45.1244 18.068C45.1244 18.776 44.6924 19.16 43.8044 19.16H42.4604ZM47.8498 20H48.8218V18.464L49.9498 17.264L51.9658 20H53.1178L50.6458 16.676L52.9858 14.156H51.7858L48.8458 17.348H48.8218V14.156H47.8498V20ZM55.4485 22.376H56.4565L59.7685 14.156H58.7485L56.9845 18.596H56.9605L55.0645 14.156H54.0085L56.4925 19.772L55.4485 22.376ZM61.837 14.156C61.813 15.152 61.777 16.484 61.681 17.396C61.549 18.548 61.165 19.148 60.565 19.148C60.445 19.148 60.361 19.136 60.289 19.124L60.217 19.964C60.337 20.012 60.529 20.048 60.733 20.048C61.777 20.048 62.377 19.304 62.593 17.708C62.689 16.94 62.737 15.98 62.785 15.02H64.849V20H65.821V14.156H61.837ZM70.1107 14.156C68.5747 14.156 67.8307 14.912 67.8307 16.076C67.8307 16.94 68.3107 17.576 69.2107 17.804L67.6147 20H68.7187L70.2307 17.9H71.7187V20H72.6907V14.156H70.1107ZM71.7187 17.06H70.0507C69.1747 17.06 68.8147 16.664 68.8147 16.076C68.8147 15.368 69.2347 14.996 70.0987 14.996H71.7187V17.06ZM76.2921 20H77.2641V15.02H79.2201V14.156H74.3361V15.02H76.2921V20ZM83.3049 20.072C85.0329 20.072 86.3169 18.86 86.3169 17.084C86.3169 15.308 85.0329 14.084 83.3049 14.084C81.4929 14.084 80.2809 15.404 80.2809 17.084C80.2809 18.764 81.4929 20.072 83.3049 20.072ZM83.3049 19.184C82.0929 19.184 81.2769 18.248 81.2769 17.084C81.2769 15.92 82.0809 14.972 83.3049 14.972C84.4329 14.972 85.3209 15.836 85.3209 17.084C85.3209 18.332 84.4209 19.184 83.3049 19.184ZM88.1862 22.376H89.1582V18.992H89.1702C89.6022 19.664 90.3222 20.072 91.2462 20.072C92.8542 20.072 94.0902 18.896 94.0902 17.12C94.0902 15.392 92.9022 14.084 91.2462 14.084C90.3582 14.084 89.6142 14.492 89.1702 15.188H89.1582V14.156H88.1862V22.376ZM91.1142 19.184C89.9982 19.184 89.1102 18.356 89.1102 17.12C89.1102 15.92 89.9142 14.972 91.1022 14.972C92.2062 14.972 93.1062 15.824 93.1062 17.12C93.1062 18.296 92.2902 19.184 91.1142 19.184ZM99.6668 20H100.603V15.812H100.627L102.487 18.98H103.147L105.019 15.8H105.043V20H105.979V14.156H105.043L102.835 17.9H102.811L100.615 14.156H99.6668V20ZM110.872 20.072C112.6 20.072 113.884 18.86 113.884 17.084C113.884 15.308 112.6 14.084 110.872 14.084C109.06 14.084 107.848 15.404 107.848 17.084C107.848 18.764 109.06 20.072 110.872 20.072ZM110.872 19.184C109.66 19.184 108.844 18.248 108.844 17.084C108.844 15.92 109.648 14.972 110.872 14.972C112 14.972 112.888 15.836 112.888 17.084C112.888 18.332 111.988 19.184 110.872 19.184ZM121.509 19.136H120.489V14.156H116.673C116.661 15.092 116.613 16.052 116.445 16.964C116.313 17.744 116.073 18.488 115.689 19.136H114.765V21.608H115.581L115.641 20H120.621L120.681 21.608H121.509V19.136ZM116.697 19.136C116.997 18.584 117.213 17.948 117.357 17.252C117.525 16.496 117.573 15.716 117.597 15.02H119.517V19.136H116.697ZM128.154 16.976C128.154 15.308 127.062 14.084 125.466 14.084C123.798 14.084 122.586 15.32 122.586 17.084C122.586 18.872 123.81 20.072 125.538 20.072C126.714 20.072 127.446 19.628 127.95 18.98L127.266 18.404C126.906 18.848 126.354 19.184 125.574 19.184C124.47 19.184 123.702 18.464 123.57 17.372H128.13C128.13 17.3 128.154 17.132 128.154 16.976ZM125.454 14.972C126.414 14.972 127.038 15.62 127.182 16.58H123.594C123.774 15.584 124.518 14.972 125.454 14.972ZM130.771 14.156C130.747 15.152 130.711 16.484 130.615 17.396C130.483 18.548 130.099 19.148 129.499 19.148C129.379 19.148 129.295 19.136 129.223 19.124L129.151 19.964C129.271 20.012 129.463 20.048 129.667 20.048C130.711 20.048 131.311 19.304 131.527 17.708C131.623 16.94 131.671 15.98 131.719 15.02H133.783V20H134.755V14.156H130.771ZM137.005 20H137.941L141.229 15.656H141.253V20H142.225V14.156H141.301L138.001 18.596H137.977V14.156H137.005V20Z" fill="#323232"/>
                            <path d="M19.5 39L12.1388 26.25L26.8612 26.25L19.5 39Z" fill="white"/>
                        </svg>
                    .products__card-content
                        .products__card-content-box
                            h4.products__card-content-title Фасад
                            p.products__card-content-text рамки из массива ясеня с панелью из МДФ, покрытой шпоном
                        .products__card-content-box
                            h4.products__card-content-title Толщина фасада
                            p.products__card-content-text 19 мм
                        .products__card-content-box
                            h4.products__card-content-title Виды фасадов  
                            p.products__card-content-text глухой, стекло
                        .products__card-content-box
                            h4.products__card-content-title Отделка 
                            p.products__card-content-text финишная отделка шелковисто-матовая или глянцевая
     
                a(href="/").products__card-button Посмотреть подробности
            .products__item-bottom
                .products__item-bottom-left 
                    h4.products__item-title Bristel PRO
                    p.products__item-text Роскошная дворцовая классика
                p.products__item-numb от 40 215 ₽/м²
        .products__item
            .products__card
                span.products__card-hit Hit
                img(src="./img/kitchens/kit2.png", alt="Kitchens").products__card-img
            .products__item-bottom
                .products__item-bottom-left 
                    h4.products__item-title Bristel PRO
                    p.products__item-text Роскошная дворцовая классика
                p.products__item-numb от 40 215 ₽/м²
        .products__item
            .products__card
                span.products__card-new New
                img(src="./img/kitchens/kit3.png", alt="Kitchens").products__card-img
            .products__item-bottom
                .products__item-bottom-left 
                    h4.products__item-title Bristel PRO
                    p.products__item-text Роскошная дворцовая классика
                p.products__item-numb от 40 215 ₽/м²
        .products__item
            .products__card
                span.products__card-hit Hit
                img(src="./img/kitchens/kit2.png", alt="Kitchens").products__card-img
            .products__item-bottom
                .products__item-bottom-left 
                    h4.products__item-title Bristel PRO
                    p.products__item-text Роскошная дворцовая классика
                p.products__item-numb от 40 215 ₽/м²
        .products__item
            .products__card
                span.products__card-new New
                img(src="./img/kitchens/kit3.png", alt="Kitchens").products__card-img
            .products__item-bottom
                .products__item-bottom-left 
                    h4.products__item-title Bristel PRO
                    p.products__item-text Роскошная дворцовая классика
                p.products__item-numb от 40 215 ₽/м²
        .products__item.products__item_last
            h2.products__item_last-title 127 моделей
            p.products__item_last-text со скидкой
            a(href="/").products__item_last-link Посмотреть все
                <svg width="33" height="10" viewBox="0 0 33 10" fill="none" class="products__item_last-arrow">
                    <path d="M0 5H31M31 5L27 1M31 5L27 9" stroke="white" stroke-width="2"/>
                </svg>
