.promotion-gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 9px;
    align-items: start;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    &__item1{
        display: flex;
        align-items: flex-end;
        position: relative;
        background: url("../img/promotions/promGal1.png") no-repeat center;
        background-size: cover;
        width: 721px;
        height: 647.72px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        padding: 0 0 67px 52px;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: rgb(2,0,36);
            background: linear-gradient(0deg, rgba(2,0,36,0.5) 0%, rgba(0,0,0,0.5) 31%, rgba(252,252,252,0) 84%);
            transition: all .2s linear;
        }
        &:hover::before{
            height: 0;
        }
    }
    &__item2{
        display: flex;
        align-items: flex-end;
        position: relative;
        background: url("../img/promotions/promGal2.png") no-repeat center;
        background-size: cover;
        width: 503px;
        height: 433.07px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 0 0 33px 44px;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: rgb(2,0,36);
            background: linear-gradient(0deg, rgba(2,0,36,0.4) 0%, rgba(0,0,0,0.2) 31%, rgba(252,252,252,0) 84%);
            transition: all .2s linear;
        }
        &:hover::before{
            height: 0;
        }
    } 
    &__item3{
        display: flex;
        align-items: flex-end;
        position: relative;
        background: url("../img/promotions/promGal3.png") no-repeat center;
        background-size: cover;
        width: 681px;
        height: 887px;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
        padding: 0 0 29px 41px;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: rgb(2,0,36);
            background: linear-gradient(0deg, rgba(2,0,36,0.4) 0%, rgba(0,0,0,0.2) 31%, rgba(252,252,252,0) 84%);
            transition: all .2s linear;
        }
        &:hover::before{
            height: 0;
        }
    }
    &__item4{
        display: flex;
        align-items: flex-end;
        position: relative;
        background: url("../img/promotions/promGal4.png") no-repeat center;
        background-size: cover;
        width: 721px;
        height: 233px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        padding: 0 0 33px 51px;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: rgb(2,0,36);
            background: linear-gradient(0deg, rgba(2,0,36,0.4) 0%, rgba(0,0,0,0.2) 31%, rgba(252,252,252,0) 84%);
            transition: all .2s linear;
        }
        &:hover::before{
            height: 0;
        }
    }
    &__item5{
        display: flex;
        align-items: flex-end;
        position: relative;
        background: url("../img/promotions/promGal5.png") no-repeat center;
        background-size: cover;
        width: 503px;
        height: 447.07px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        padding: 0 0 31px 43px;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: rgb(2,0,36);
            background: linear-gradient(0deg, rgba(2,0,36,0.4) 0%, rgba(0,0,0,0.2) 31%, rgba(252,252,252,0) 84%);
            transition: all .2s linear;
        }
        &:hover::before{
            height: 0;
        }
    }
    &__title{
        position: sticky;
        z-index: 10;
        font-family: "Open Sans";
        font-weight: normal;
        font-size: 20px;
        line-height: 120.3%;        
        letter-spacing: 0.105em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0 0 25px;
    }
    &__item{
        position: sticky;
        z-index: 10;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 252%;
        letter-spacing: 0.035em;
        color: #FFFFFF;
    }
}