mixin promotion_gallery
    section.promotion-gallery
        a(href="/").promotion-gallery__item1
            ul.promotion-gallery__list
                h4.promotion-gallery__title РАСПРОДАЖА
                li.promotion-gallery__item Кухни
                li.promotion-gallery__item Столешницы
                li.promotion-gallery__item Бытовая техника
                li.promotion-gallery__item Шкафы-купе
                li.promotion-gallery__item Столовые группы
        a(href="/").promotion-gallery__item2
            h4.promotion-gallery__title Бытовая техника
        a(href="/").promotion-gallery__item3
            h4.promotion-gallery__title Кухни 
        a(href="/").promotion-gallery__item4
            h4.promotion-gallery__title СТОЛЕШНИЦы
        a(href="/").promotion-gallery__item5
            h4.promotion-gallery__title Шкафы-купе
