mixin bonuses
    section.bonuses
        .container
            h2.bonuses__title Спецпредложения и бонусы
            .bonuses__slider
                .bonuses__slider-inner
                    .bonuses__item.bonuses__slide1
                        h3.bonuses__slider-title.bonuses__slider-title_first Купите кухню 
                            span.bonuses__slider-title_span Ascona
                        p.bonuses__slider-text.bonuses__slider-text_first Столешница в подарок
                    .bonuses__item.bonuses__slide2
                        h3.bonuses__slider-title Получи сертификат на 100 000 ₽
                        p.bonuses__slider-text До конца августа
                        <svg class="bonuses__slider-ellipse" width="175" height="170" viewBox="0 0 175 170" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="121.356" cy="121.356" r="95.0095" transform="rotate(19.5811 121.356 121.356)" fill="#FF3D00"/>
                            <g>
                            <path d="M109.89 38.9269L111.091 38.8161L111.524 43.4168L116.656 42.934L116.223 38.3332L117.425 38.2225L118.341 48.0369L117.14 48.1477L116.761 44.0334L111.629 44.5163L112.02 48.635L110.819 48.7458L109.89 38.9269Z" fill="white"/>
                            <path d="M124.156 38.2656L125.358 38.3111L128.704 48.3097L127.446 48.2589L126.654 45.8245L122.253 45.6469L121.286 48.0077L120.028 47.957L124.156 38.2656ZM126.325 44.7585L124.705 39.7497L124.675 39.7533L122.691 44.6133L126.325 44.7585Z" fill="white"/>
                            <path d="M136.621 39.5569L143.662 41.1976L141.424 50.7963L140.235 50.5147L142.219 41.9872L137.532 40.9006L135.548 49.4281L134.371 49.1511L136.621 39.5569Z" fill="white"/>
                            <path d="M145.25 46.733C146.318 44.0113 149.023 42.8209 151.701 43.8584C154.278 44.8602 155.543 47.5194 154.462 50.3211C153.367 53.1183 150.643 54.2027 148.066 53.201C145.375 52.159 144.191 49.4718 145.25 46.733ZM153.275 49.8708C154.107 47.7309 153.185 45.6611 151.279 44.9261C149.288 44.1473 147.242 45.1188 146.428 47.2084C145.622 49.2729 146.472 51.3877 148.467 52.1539C150.374 52.8889 152.452 51.9855 153.275 49.8708Z" fill="white"/>
                            <path d="M159.339 47.3255L160.392 47.9123L157.752 52.6239L157.777 52.6329L164.326 50.119L165.683 50.8851L160.149 52.9383L160.939 59.5215L159.615 58.7814L158.979 53.3578L156.907 54.122L155.564 56.5048L154.511 55.918L159.339 47.3255Z" fill="white"/>
                            <path d="M174.128 56.9482L167.132 60.9176C165.765 61.6918 164.713 62.3796 163.456 61.451C163.085 61.1776 162.573 60.5848 162.49 60.102L163.439 59.505C163.591 59.9554 163.855 60.29 164.133 60.5024C164.749 60.9622 165.408 60.7434 166.294 60.124L167.355 51.9619L168.459 52.765L167.548 59.3095L167.581 59.3355L173.087 56.1675L174.128 56.9482Z" fill="white"/>
                            <path d="M176.212 58.7372L181.451 63.7305L174.638 70.8521L173.747 70.0111L179.797 63.6802L176.328 60.3644L170.278 66.6953L169.399 65.8587L176.212 58.7372Z" fill="white"/>
                            <path d="M184.342 175.845L179.369 181.101L172.21 174.334L173.051 173.444L179.414 179.46L182.71 175.973L176.347 169.956L177.183 169.079L184.342 175.845Z" fill="white"/>
                            <path d="M55.1099 171.654L54.4285 170.661L58.2389 168.037L55.3119 163.795L51.5015 166.419L50.8202 165.426L58.9334 159.829L59.6148 160.822L56.2028 163.163L59.1298 167.405L62.5418 165.064L63.2232 166.057L55.1099 171.654Z" fill="white"/>
                            <path d="M47.5664 159.553L47.0134 158.478L54.0977 150.674L54.675 151.8L52.9445 153.677L54.9361 157.6L57.4674 157.297L58.0448 158.422L47.5664 159.553ZM52.1724 154.493L48.5911 158.345L48.6118 158.367L53.8271 157.729L52.1724 154.493Z" fill="white"/>
                            <path d="M42.5826 148.064L40.5578 141.127L50.017 138.36L50.3655 139.532L41.9511 141.991L43.2998 146.606L51.7142 144.147L52.0545 145.301L42.5826 148.064Z" fill="white"/>
                            <path d="M44.5956 137.026C41.6864 137.436 39.327 135.662 38.9231 132.814C38.5337 130.083 40.2284 127.67 43.214 127.245C46.1826 126.828 48.4728 128.676 48.8577 131.419C49.2743 134.272 47.5004 136.629 44.5956 137.026ZM43.4 128.515C41.1346 128.828 39.7767 130.653 40.0536 132.663C40.3496 134.78 42.207 136.092 44.4177 135.774C46.6239 135.468 48.0358 133.69 47.7398 131.574C47.4629 129.563 45.6529 128.197 43.4 128.515Z" fill="white"/>
                            <path d="M38.2149 124.446L38.2176 123.244L43.6144 123.251L43.6108 123.222L38.2181 118.74L38.2193 117.183L42.7129 121.005L48.0814 117.108L48.081 118.623L43.668 121.826L45.3415 123.257L48.0736 123.266L48.0709 124.468L38.2149 124.446Z" fill="white"/>
                            <path d="M39.3948 106.866L46.2761 111.028C47.6155 111.844 48.7273 112.423 48.5321 113.968C48.4681 114.427 48.1961 115.152 47.8266 115.474L46.845 114.926C47.1687 114.574 47.3244 114.176 47.3778 113.827C47.4772 113.069 46.9754 112.608 45.9966 112.132L38.3475 115.189L38.5179 113.833L44.6843 111.439L44.6852 111.396L39.226 108.137L39.3948 106.866Z" fill="white"/>
                            <path d="M39.9423 104.172L41.7531 97.1686L51.2948 99.628L50.9885 100.808L42.5098 98.6273L41.3115 103.271L49.8028 105.456L49.501 106.623L39.9423 104.172Z" fill="white"/>
                            <path d="M42.9518 93.5591L43.392 92.4411L48.4074 94.4376L48.4163 94.4124L45.05 88.2583L45.6316 86.8224L48.4002 92.0275L54.8264 90.3764L54.2708 91.779L48.9865 93.1282L50.0205 95.0822L52.5637 96.1001L52.1235 97.2181L42.9518 93.5591Z" fill="white"/>
                            <path d="M50.4965 77.6481L55.3613 84.052C56.308 85.2951 57.1294 86.2529 56.3887 87.618C56.1738 88.0231 55.643 88.599 55.1753 88.7584L54.4618 87.8956C54.8881 87.6932 55.1858 87.3742 55.3524 87.0653C55.716 86.4016 55.4286 85.7753 54.6927 84.9754L46.4697 85.0244L47.1226 83.8263L53.7435 83.8589L53.7569 83.8212L49.8785 78.7878L50.4965 77.6481Z" fill="white"/>
                            <path d="M54.7181 71.5169L55.4756 70.5826L59.665 73.9847L59.6865 73.964L58.3066 67.0862L59.2891 65.8778L60.3737 71.6735L67.0014 72.0059L66.0449 73.181L60.5947 72.885L60.9994 75.0541L63.1233 76.7726L62.3658 77.707L54.7181 71.5169Z" fill="white"/>
                            <path d="M66.6891 58.582L69.428 66.1415C69.9646 67.6211 70.4612 68.7749 69.3419 69.8496C69.0146 70.1722 68.3353 70.5679 67.8495 70.5791L67.4267 69.5366C67.9053 69.4661 68.2768 69.2583 68.5306 69.0229C69.0857 68.4981 68.9895 67.8124 68.5273 66.8408L60.6616 64.4111L61.6346 63.4685L67.9379 65.4699L67.9639 65.4366L65.7636 59.4707L66.6891 58.582Z" fill="white"/>
                            <path d="M73.7991 59.2703L68.2045 57.3085L69.3232 56.4744L73.8826 58.0396L73.8997 58.0315L73.6652 53.2322L74.7839 52.398L75.0847 58.3255L80.7305 60.263L79.5902 61.1178L75.0264 59.5652L75.0049 59.5859L75.2097 64.3888L74.091 65.2229L73.7991 59.2703Z" fill="white"/>
                            <path d="M77.4146 50.7004L78.4735 50.1141L80.7374 54.1483L85.234 51.6267L82.9576 47.588L84.0165 47.0017L88.8378 55.5994L87.7789 56.1857L85.76 52.5785L81.2633 55.1001L83.2823 58.7073L82.2234 59.2937L77.4146 50.7004Z" fill="white"/>
                            <path d="M87.5292 45.3337L88.6485 44.8963L91.5065 52.2008L91.5361 52.1972L93.7639 42.9064L94.7512 42.5211L98.3449 51.7018L97.2256 52.1392L94.3875 44.8984L94.3578 44.902L92.1317 54.1084L91.1273 54.5018L87.5292 45.3337Z" fill="white"/>
                            <path d="M103.653 46.7782C103.557 46.333 103.84 45.8956 104.285 45.7991C104.73 45.7026 105.16 45.9687 105.269 46.4183C105.366 46.8634 105.1 47.2928 104.65 47.4019C104.205 47.4984 103.75 47.2233 103.653 46.7782Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0">
                            <rect width="166.372" height="166.372" fill="white" transform="translate(70.86 15.1021) rotate(19.5811)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    .bonuses__item.bonuses__slide3
                        h3.bonuses__slider-title Скидка 40% на все модели месяца
                        p.bonuses__slider-text Бесплатный дизайн-проект в подарок
                .bonuses__slider-arrows
                    <svg width="120" height="70" viewBox="0 0 120 70" fill="none" >
                        <path d="M15.25 22.75L3 34.5625L15.25 46.375" stroke="#FF3D00" stroke-width="3"/>
                        <circle cx="84.375" cy="35" r="35" fill="#FF3D00"/>
                        <path d="M78.25 47.25L90.5 35.4375L78.25 23.625" stroke="white" stroke-width="3"/>
                    </svg>
