extends ../blocks/layout
block content
	svg(style="display:none")
	.layout
		+header
		+intro
		+promotions
		+kitchens
		+designers
		+socials
		+articles
		+director
		+bonuses
		+footer_form
		+footer