mixin client_reviews
    section.reviews
        .container
            h2.reviews__title Отзывы клиентов КухниСити
        .reviews__slider
            .reviews__inner
                .reviews__item
                    .reviews__img
                        a(href="/").reviews__img-link
                            <svg width="39" height="39" viewBox="0 0 39 39" fill="none">
                                <rect x="0.5" y="0.5" width="38" height="38" fill="none" stroke="black"/>
                                <path d="M12.2207 27.3921L27.3921 12.2207M27.3921 12.2207H24.6883M27.3921 12.2207V14.9245" stroke="black"/>
                            </svg>
                        img(src="./img/deginers/rev1.png", alt="Kitchen").reviews__pic
                    .client-reviews__content
                        h4.client-reviews__name 
                            span.client-reviews__soc
                                <svg width="27" height="27" viewBox="0 0 27 27" fill="none" >
                                    <rect width="27" height="27" rx="13.5" fill="#5B80B8"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7953 16.9424C13.7953 16.9424 14.0459 16.918 14.1742 16.7972C14.2917 16.6865 14.2876 16.4775 14.2876 16.4775C14.2876 16.4775 14.272 15.502 14.7888 15.3579C15.2982 15.2162 15.9522 16.3013 16.6463 16.7186C17.1706 17.0341 17.5686 16.965 17.5686 16.965L19.4234 16.9424C19.4234 16.9424 20.3932 16.89 19.9334 16.2216C19.8954 16.1668 19.6652 15.727 18.5547 14.8234C17.3914 13.8776 17.5476 14.0306 18.948 12.3943C19.801 11.3979 20.1419 10.7896 20.0353 10.5294C19.9341 10.2806 19.3066 10.3467 19.3066 10.3467L17.2189 10.358C17.2189 10.358 17.064 10.3396 16.9492 10.3997C16.8372 10.4586 16.7645 10.5961 16.7645 10.5961C16.7645 10.5961 16.4344 11.3669 15.9937 12.0229C15.0639 13.4062 14.6924 13.4794 14.5403 13.3937C14.1864 13.1931 14.2747 12.5889 14.2747 12.1598C14.2747 10.8187 14.507 10.2598 13.8231 10.1152C13.5963 10.067 13.4292 10.0354 12.8485 10.0301C12.1035 10.0235 11.4732 10.0324 11.116 10.1854C10.8783 10.2872 10.6949 10.5146 10.807 10.5277C10.9449 10.5437 11.2573 10.6015 11.423 10.7991C11.6369 11.0544 11.6294 11.627 11.6294 11.627C11.6294 11.627 11.7524 13.2056 11.3422 13.4014C11.061 13.5359 10.6752 13.2615 9.84599 12.0062C9.42152 11.3634 9.10096 10.6527 9.10096 10.6527C9.10096 10.6527 9.03916 10.5199 8.92846 10.4485C8.79466 10.3622 8.6079 10.3354 8.6079 10.3354L6.6241 10.3467C6.6241 10.3467 6.32595 10.3539 6.21661 10.4675C6.11949 10.5681 6.20914 10.7771 6.20914 10.7771C6.20914 10.7771 7.76235 13.9621 9.52135 15.5674C11.1343 17.0388 12.9653 16.9424 12.9653 16.9424H13.7953Z" fill="white"/>
                                </svg>
                            span Андрей Иванов
                        p.client-reviews__text Спасибо огромное, работа вашей команды бесценный вклад в счастье многих людей, а теперь и частичка моей радости😊 Все оказалось совсем не сложно и главное быстро!!! Вы огромные молодцы🙏 👍
                        .reviews-bottom
                            .reviews-bottom__date 06.05.2019 в 15:20
                            a(href="/").reviews-bottom__link Перейти к отзыву
                                <svg class="reviews-bottom__link-arrow" width="27" height="12" viewBox="0 0 27 12" fill="none">
                                    <path d="M0.5 6H26M26 6L21 1M26 6L21 11" stroke="#FF3D00"/>
                                </svg>
                .reviews__item
                    .reviews__img
                        a(href="/").reviews__img-link
                            <svg width="39" height="39" viewBox="0 0 39 39" fill="none">
                                <rect x="0.5" y="0.5" width="38" height="38" fill="none" stroke="black"/>
                                <path d="M12.2207 27.3921L27.3921 12.2207M27.3921 12.2207H24.6883M27.3921 12.2207V14.9245" stroke="black"/>
                            </svg>
                        img(src="./img/deginers/rev2.png", alt="Kitchen").reviews__pic
                    .client-reviews__content
                        h4.client-reviews__name 
                            span.client-reviews__soc
                                <svg width="27" height="27" viewBox="0 0 27 27" fill="none" >
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 13.5C0 6.04416 6.04416 0 13.5 0C20.9558 0 27 6.04416 27 13.5C27 20.9558 20.9558 27 13.5 27C6.04416 27 0 20.9558 0 13.5Z" fill="url(#paint0_linear)"/>
                                    <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="27" height="27">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 13.5C0 6.04416 6.04416 0 13.5 0C20.9558 0 27 6.04416 27 13.5C27 20.9558 20.9558 27 13.5 27C6.04416 27 0 20.9558 0 13.5Z" fill="white"/>
                                    </mask>
                                    <g mask="url(#mask0)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5008 6.29956C11.5454 6.29956 11.3 6.30811 10.532 6.34306C9.76545 6.37816 9.24224 6.49951 8.78444 6.67756C8.31088 6.86147 7.90918 7.10747 7.50897 7.50782C7.10847 7.90803 6.86247 8.30973 6.67796 8.78314C6.49946 9.24109 6.37796 9.76445 6.34346 10.5307C6.30911 11.2987 6.30011 11.5442 6.30011 13.4996C6.30011 15.4551 6.30881 15.6997 6.34361 16.4677C6.37886 17.2342 6.50021 17.7574 6.67811 18.2152C6.86217 18.6888 7.10817 19.0905 7.50852 19.4907C7.90858 19.8912 8.31028 20.1378 8.78354 20.3217C9.24164 20.4998 9.765 20.6211 10.5314 20.6562C11.2994 20.6912 11.5446 20.6997 13.4999 20.6997C15.4555 20.6997 15.7001 20.6912 16.4681 20.6562C17.2346 20.6211 17.7584 20.4998 18.2165 20.3217C18.6899 20.1378 19.091 19.8912 19.4911 19.4907C19.8916 19.0905 20.1376 18.6888 20.3221 18.2154C20.4991 17.7574 20.6206 17.2341 20.6566 16.4679C20.6911 15.6999 20.7001 15.4551 20.7001 13.4996C20.7001 11.5442 20.6911 11.2988 20.6566 10.5308C20.6206 9.7643 20.4991 9.24109 20.3221 8.78329C20.1376 8.30973 19.8916 7.90803 19.4911 7.50782C19.0906 7.10732 18.6901 6.86132 18.2161 6.67756C17.7571 6.49951 17.2336 6.37816 16.4671 6.34306C15.6991 6.30811 15.4546 6.29956 13.4985 6.29956H13.5008ZM12.8549 7.5964C13.0466 7.5961 13.2605 7.5964 13.5008 7.5964C15.4232 7.5964 15.651 7.6033 16.4102 7.6378C17.1122 7.66991 17.4932 7.78721 17.747 7.88576C18.083 8.01626 18.3226 8.17226 18.5744 8.42426C18.8264 8.67627 18.9824 8.91627 19.1132 9.25227C19.2118 9.50577 19.3292 9.88678 19.3612 10.5888C19.3957 11.3478 19.4032 11.5758 19.4032 13.4973C19.4032 15.4188 19.3957 15.6468 19.3612 16.4058C19.3291 17.1079 19.2118 17.4889 19.1132 17.7424C18.9827 18.0784 18.8264 18.3176 18.5744 18.5695C18.3224 18.8215 18.0832 18.9775 17.747 19.108C17.4935 19.207 17.1122 19.324 16.4102 19.3561C15.6512 19.3906 15.4232 19.3981 13.5008 19.3981C11.5782 19.3981 11.3503 19.3906 10.5913 19.3561C9.88933 19.3237 9.50833 19.2064 9.25437 19.1078C8.91837 18.9773 8.67837 18.8213 8.42636 18.5693C8.17436 18.3173 8.01836 18.0779 7.88756 17.7418C7.78901 17.4883 7.67156 17.1073 7.63961 16.4052C7.60511 15.6462 7.59821 15.4182 7.59821 13.4955C7.59821 11.5728 7.60511 11.346 7.63961 10.587C7.67171 9.88498 7.78901 9.50397 7.88756 9.25017C8.01806 8.91417 8.17436 8.67417 8.42636 8.42216C8.67837 8.17016 8.91837 8.01416 9.25437 7.88336C9.50818 7.78436 9.88933 7.66736 10.5913 7.6351C11.2555 7.6051 11.5129 7.5961 12.8549 7.5946V7.5964ZM17.3441 8.79241C16.8671 8.79241 16.4801 9.17897 16.4801 9.65612C16.4801 10.1331 16.8671 10.5201 17.3441 10.5201C17.8211 10.5201 18.2081 10.1331 18.2081 9.65612C18.2081 9.17912 17.8211 8.79211 17.3441 8.79211V8.79241ZM13.501 9.80176C11.459 9.80176 9.80344 11.4573 9.80344 13.4993C9.80344 15.5413 11.459 17.1961 13.501 17.1961C15.5429 17.1961 17.1979 15.5413 17.1979 13.4993C17.1979 11.4573 15.5428 9.80176 13.5008 9.80176H13.501ZM13.5007 11.0992C14.8261 11.0992 15.9007 12.1737 15.9007 13.4993C15.9007 14.8247 14.8261 15.8993 13.5007 15.8993C12.1751 15.8993 11.1006 14.8247 11.1006 13.4993C11.1006 12.1737 12.1751 11.0992 13.5007 11.0992Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <linearGradient id="paint0_linear" x1="22.3269" y1="1.55769" x2="7.78846" y2="23.8846" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#536DE8"/>
                                    <stop offset="0.366894" stop-color="#A84CA7"/>
                                    <stop offset="0.751381" stop-color="#FC3436"/>
                                    <stop offset="1" stop-color="#FFA10D"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                            span Jullias_23
                        p.client-reviews__text Мой дизайнер уже давно просил разместить отзыв, но время нашлось только теперь во время карантина. Если вы приняли решение купить новую кухню от Кухни-Сити, то я могу порекомендовать салон на Проспект Мира. Кухню заказала БристельМой...
                        .reviews-bottom
                            .reviews-bottom__date 06.05.2019 в 15:20
                            a(href="/").reviews-bottom__link Перейти к отзыву
                                <svg class="reviews-bottom__link-arrow" width="27" height="12" viewBox="0 0 27 12" fill="none">
                                    <path d="M0.5 6H26M26 6L21 1M26 6L21 11" stroke="#FF3D00"/>
                                </svg>
                .reviews__item
                    .reviews__img
                        img(src="./img/deginers/rev3.png", alt="Kitchen").reviews__pic
            .reviews__slider-bottons
                <svg class="reviews__slider-bottons-arrows" width="17" height="27" viewBox="0 0 17 27" fill="none">
                    <path d="M15.25 1.75L3 13.5625L15.25 25.375" stroke="#FF3D00" stroke-width="3"/>
                </svg>
                <svg class="reviews__slider-bottons-arrows" width="71" height="70" viewBox="0 0 71 70" fill="none" >
                    <circle cx="35.375" cy="35" r="35" fill="#FF3D00"/>
                    <path d="M29.25 47.25L41.5 35.4375L29.25 23.625" stroke="white" stroke-width="3"/>
                </svg>
        .container
            p.reviews__text Занимаем лидирующие позиции
    section.pages
        .pages__inner.container
            .pages__item
                .pages__item-head
                    span.pages__item-numb 4,9
                        <svg class="pages__item-star" width="36" height="34" viewBox="0 0 36 34" fill="none">
                            <path d="M16.6365 0.701494C17.0226 -0.233831 18.3374 -0.233832 18.7235 0.701493L22.7956 10.5674C22.9584 10.9617 23.3264 11.2311 23.7488 11.2652L34.3186 12.1191C35.3206 12.2001 35.7269 13.4602 34.9635 14.1192L26.9104 21.0706C26.5886 21.3484 26.448 21.7843 26.5464 22.1997L29.0067 32.5934C29.2399 33.5787 28.1762 34.3575 27.3183 33.8295L18.2691 28.2598C17.9074 28.0372 17.4526 28.0372 17.0909 28.2598L8.04172 33.8295C7.18382 34.3575 6.12006 33.5787 6.35331 32.5934L8.81365 22.1997C8.91198 21.7843 8.77142 21.3484 8.44957 21.0706L0.396524 14.1192C-0.366935 13.4602 0.039383 12.2001 1.04144 12.1191L11.6112 11.2652C12.0336 11.2311 12.4016 10.9617 12.5644 10.5674L16.6365 0.701494Z" fill="#F8CD02"/>
                        </svg>
                    .pages__item-logo
                        img(src="./img/deginers/logo1.png", alt="Logo")
                p.pages__item-text На основе 32 отзывов
            .pages__item
                .pages__item-head
                    span.pages__item-numb 4,9
                        <svg class="pages__item-star"  width="36" height="34" viewBox="0 0 36 34" fill="none">
                            <path d="M16.6365 0.701494C17.0226 -0.233831 18.3374 -0.233832 18.7235 0.701493L22.7956 10.5674C22.9584 10.9617 23.3264 11.2311 23.7488 11.2652L34.3186 12.1191C35.3206 12.2001 35.7269 13.4602 34.9635 14.1192L26.9104 21.0706C26.5886 21.3484 26.448 21.7843 26.5464 22.1997L29.0067 32.5934C29.2399 33.5787 28.1762 34.3575 27.3183 33.8295L18.2691 28.2598C17.9074 28.0372 17.4526 28.0372 17.0909 28.2598L8.04172 33.8295C7.18382 34.3575 6.12006 33.5787 6.35331 32.5934L8.81365 22.1997C8.91198 21.7843 8.77142 21.3484 8.44957 21.0706L0.396524 14.1192C-0.366935 13.4602 0.039383 12.2001 1.04144 12.1191L11.6112 11.2652C12.0336 11.2311 12.4016 10.9617 12.5644 10.5674L16.6365 0.701494Z" fill="#F8CD02"/>
                        </svg>
                    .pages__item-logo
                        img(src="./img/deginers/logo2.png", alt="Logo")
                p.pages__item-text На основе 85 отзывов
            .pages__item
                .pages__item-head
                    span.pages__item-numb 4,9
                        <svg class="pages__item-star"  width="36" height="34" viewBox="0 0 36 34" fill="none">
                            <path d="M16.6365 0.701494C17.0226 -0.233831 18.3374 -0.233832 18.7235 0.701493L22.7956 10.5674C22.9584 10.9617 23.3264 11.2311 23.7488 11.2652L34.3186 12.1191C35.3206 12.2001 35.7269 13.4602 34.9635 14.1192L26.9104 21.0706C26.5886 21.3484 26.448 21.7843 26.5464 22.1997L29.0067 32.5934C29.2399 33.5787 28.1762 34.3575 27.3183 33.8295L18.2691 28.2598C17.9074 28.0372 17.4526 28.0372 17.0909 28.2598L8.04172 33.8295C7.18382 34.3575 6.12006 33.5787 6.35331 32.5934L8.81365 22.1997C8.91198 21.7843 8.77142 21.3484 8.44957 21.0706L0.396524 14.1192C-0.366935 13.4602 0.039383 12.2001 1.04144 12.1191L11.6112 11.2652C12.0336 11.2311 12.4016 10.9617 12.5644 10.5674L16.6365 0.701494Z" fill="#F8CD02"/>
                        </svg>
                    .pages__item-logo
                        img(src="./img/deginers/logo3.png", alt="Logo")
                p.pages__item-text На основе 256 отзывов