mixin intro
    section.intro
        .content
            .content__inner
                h1.content__title Создаем кухни, в которые вы влюбитесь
                p.content__text Производим кухни по российской-немецкой технологии.<br>В каталоге более 300 моделей. А ещё, делаем бесплатный дизайн-проект конкретно для вас.
                form.form
                    .form__horizantal
                        input(type="text" name="name" placeholder="Ваше имя").form__input
                        input(type="tel" name="phone" placeholder="Ваш телефон").form__input
                    button(type="submit").form__button Получить дизайн-проект
                .content__bottom
                    span.content__bottom-text С 1999 года выполено заказов
                    span.content__bottom-num 72 125
    section.intro-services
        .intro-services__inner.container
            .intro-services__group.intro-services__group_first
                h4.intro-services__title 100 салонов
                p.intro-services__text 70 салонов в России и 30 в Казахстане,  Украине и  Беларусь.
            .intro-services__group.intro-services__group_second
                h4.intro-services__title Рассрочка 2 года
                p.intro-services__text Удобная рассрочка оплаты на 2 года без процентов
            .intro-services__group.intro-services__group_third
                h4.intro-services__title Свое производство
                p.intro-services__text Производство 60 тыс. м² в Зеленограде. 600 сотрудников и 69 тыс. заказов с 1991 г.
            .intro-services__group
                h4.intro-services__title Гарантия 24 месяца
                p.intro-services__text 2 года сервисного  обслуживания всего кухонного гарнитура KUCHENBERG