.director{
    background: #F2F2F2;
    padding: 90px 0 102px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        position: relative;
        width: 50%;
        &-bottom{
            width: 75%;
            position: absolute;
            right: -50px;
            bottom: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            &-right{
                text-align: center;
            }
        }
    }
    &__title{
        font-family: "Cormorant Garamond";
        font-weight: 300;
        font-size: 72px;
        line-height: 117.3%;

        letter-spacing: -0.025em;

        color: #141414;
        margin: 0 0 54px;
    }
    &__text{
        font-family: "Open Sans";
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;

        letter-spacing: 0.035em;

        color: #666666;
        margin: 0 0 70px;
    }
    &__button{
        display: flex;
        align-items: center;

        font-family: "Open Sans";
        font-weight: normal;
        font-size: 20px;
        line-height: 120.3%;

        letter-spacing: 0.105em;
        text-transform: uppercase;

        color: #232323;

        border: none;
        background: transparent;

        margin: 0 0 58px;
        &-arrow{
            margin: 5px 0 0 9px;
        }
    }
    &__link{
        display: inline-block;

        font-family: "Open Sans";
        font-weight: normal;
        font-size: 20px;
        line-height: 120.3%;

        letter-spacing: 0.105em;
        text-transform: uppercase;

        color: #FFFFFF;
        padding: 23px 47px;
        background: #232323;

        transition: all .2s linear;
        &:hover{
            background: #414141;
        }
    }

    &__img{
        position: absolute;
        top: -28%;
        right: -20%;
    }
    &__name{
        font-family: "Open Sans";
        font-weight: normal;
        font-size: 20px;
        line-height: 120.3%;

        letter-spacing: 0.105em;
        text-transform: uppercase;

        color: #000000;

        margin: 0 0 10px;
    }
    &__pos{
        font-family: "Open Sans";
        font-weight: normal;
        font-size: 16px;
        line-height: 118.49%;
        letter-spacing: 0.035em;
        
        color: #A0A0A0;
    }
}