mixin director
    section.director
        .director__inner.container
            .director__item
                h2.director__title Кухни на заказ в салонах Кухнисити
                p.director__text Кухня – одно из самых важных помещений в доме. Здесь готовят еду, устраивают семейные обеды, дружеские посиделки, а порой и званые вечера. Отсюда вытекают главные критерии выбора мебели – материалы и фурнитура (от покрытия столешницы и заканчивая ручками на фасадах) должны быть готовы к интенсивным нагрузкам,  а продуманная планировка должна помогать выполнять бытовые дела с легкостью, комфортом и удовольствием. А еще хочется, чтобы было красиво!Кухня – одно из самых важных помещений в доме. Здесь готовят еду, устраивают семейные обеды, дружеские посиделки, а порой и званые вечера. Отсюда вытекают главные критерии выбора мебели – материалы и фурнитура (от покрытия столешницы и заканчивая ручками на фасадах) должны быть готовы к интенсивным нагрузкам,  а продуманная планировка должна помогать выполнять бытовые дела с легкостью, комфортом и удовольствием. А еще хочется, чтобы было красиво!
                button.director__button Раскрыть 
                    <svg class="director__button-arrow" width="12" height="7" viewBox="0 0 12 7" fill="none">
                        <path d="M1 1L6 6L11 1" stroke="#232323"/>
                    </svg>
                a(href="/").director__link НАписать директору
            .director__item
                .director__img
                    img(src="./img/director/dir1.png", alt="Director")
                .director__item-bottom
                    .director__sign
                        img(src="./img/director/sign.png", alt="Director")
                    .director__item-bottom-right
                        h4.director__name Андрей Селиванов
                        h4.director__pos руководитель производства